@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;

}

:hover::-webkit-scrollbar-thumb {
    background-color: #8D8D8D;
    border-radius: 8px;
}